

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: 0.9em;
  color: rgb(26, 26, 26);
  font-family: 'Roboto';
  font-weight: 500;
  color: rgb(26, 26, 26);
}

.App-link {
  color: #61dafb;
}

.navbarLogo {
  width: 100%;
  max-width: 9vw;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar--link {
  display: flex;
  flex-direction: row;
}

.navbar--link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.navbar--link-item {
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
}
/* Bouton principal */
button {
  display: inline-block;
  background-color: #ffd700;
  color: #000;
  font-size: 0.8em;
  font-weight: bold;
  padding: 7px 11px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: 'Roboto';
}

/* Effet au survol */
button:hover {
  background-color: transparent;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  
}
