.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carda {
    margin:2.5em;
    text-align: left;
}

.carda img {
    max-width: 40vh;
    border-radius: 1em;
    height: 55vh;
    object-fit: cover;
}

.carda h3 {
    color: black;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
}

.carda p {
    font-size: 0.7em;
    font-weight: 400;
    color: grey;
    margin: 0;
}

